ion-title{
    --color: #ffd662;
    font-family: 'Muli';
    font-weight: bold;
    font-size: 18pt;
}

ion-item{
    --background: #00539C;
    --color: #fff;
    --border-color: white;
}

ion-input{
    --placeholder-color: white; 
    --placeholder-opacity: 100;
    font-family: 'Muli';
}

.botonCerrar{
    --background: white;
    --opacity: 100;
    font-weight: 800;
    color: #1a64a6;
    font-family: 'Muli';
}

ion-button{
    --background: white;
    --opacity: 100;	
    font-weight: 800;
    color: #1a64a6;
    font-family: 'Muli';
}

h3{
    color: white;
    font-family: 'Muli';
    font-weight: 900;
}

.divButton {
    padding-top: 40px;
    text-align: center;
}