ion-title{
    --color: #ffd662;;
    font-family: 'Muli';
    font-weight: bold;
    font-size: 18pt;
}

ion-card{
    width: 100% !important;
  }

  
.centered{
    text-align: center;
}

.whitelabel{
    color: white;
    font-family: 'Nunito';
}
