<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Encontré un perro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="primary" padding>

  <ion-button size="large" type="submit" fill="solid" color="light" shape="round" expand="block" (click)="TakePhotos()">
    <p class="iniciarText">Tomar Foto</p>
  </ion-button>
  <ion-list>
    <ion-item-sliding *ngFor="let location of locations">
      <ion-item color="primary">
        <ion-card class="cardItems">
          <p class="local">Localización:</p>
          Latitud: {{location.Latitude}}<br />
          Longitud: {{location.Longitude}}

          <img src="{{location.img}}" class="center" />
          <br />
        </ion-card>
      </ion-item>
    </ion-item-sliding>
  </ion-list>

</ion-content>

<ion-tab-bar slot="bottom">
  <ion-tab-button routerLink='/cuenta'>
    <ion-icon name="person-add"></ion-icon>
    <ion-label>Formulario</ion-label>
  </ion-tab-button>

  <ion-tab-button routerLink='/movimientos'>
    <ion-icon name="images"></ion-icon>
    <ion-label>Galería</ion-label>
  </ion-tab-button>

  <ion-tab-button routerLink='/resumen'>
    <ion-icon name="camera"></ion-icon>
    <ion-label>Encontré un perro</ion-label>
  </ion-tab-button>

  <ion-tab-button routerLink='/alumbrar'>
    <ion-icon name="flashlight"></ion-icon>
    <ion-label>Alumbra tu Mascota</ion-label>
  </ion-tab-button>
</ion-tab-bar>