ion-title{
    --color: white;
    font-family: 'Nunito';
    font-weight: bold;
    font-size: 18pt;
}

ion-img{
    width: 100px;
    height: 100px;
    justify-content: center;
}

ion-item{
    --background: #15D0B3;
    --color: #fff;
    --border-color: white;
}

div{
    background-color: inherit;
    border: 0px;
    justify-content: center;
  }

ion-card{
    width: 100% !important;
  }

  .cardItems{
    color: #fff;
    --background:  #fff;
}

.centered{
    justify-content: center;
}