ion-title{
    --color: #ffd662;
    font-family: 'Muli';
    font-weight: bold;
    font-size: 18pt;
}

ion-fab-button{
    --color: #ffd662;
}

ion-list{
    padding-top: 0;
    padding-bottom: 0;
}

ion-item{
    --background: #00539C;
    --color: #fff;
}

div{
    background-color: inherit;
    border: 0px;
  }

  ion-card{
    width: 100% !important;
    --background: #1a64a6;
  }

.cardItems{
    color: #fff;
    --background:  #fff;
    font-family: 'Muli';
}