ion-title{
    --color: white;
    font-family: 'Nunito';
    font-weight: bold;
    font-size: 18pt;
}

ion-fab-button{
    --color: white;
}

ion-list{
    padding-top: 0;
    padding-bottom: 0;
}

ion-item{
    --background: #15D0B3;
    --color: #fff;
    --border-color: white;
}

ion-input{
    font-family: 'Nunito';
    --placeholder-color: white; 
    --placeholder-opacity: 100;

}

ion-button{
    --background: white;
    --opacity: 100;	
    font-weight: 900;
    font-family: 'Nunito';
    color: #15D0B3;
}

h3{
    color: white;
    font-weight: bold;
    font-family: 'Nunito';
}

div{
    background-color: inherit;
    border: 0px;
  }
  
.icon-bigger{
    font-size: 100px;
}

.editButton{
    padding-top: 40px;
    text-align: center;
}


ion-card{
    width: 100% !important;
  }

.cardItems{
    color: #fff;
    --background:  #fff;
}