ion-button{
    --background: white;
    --opacity: 100;	
    font-family: 'Muli';
    font-weight: 900;
    color: #00539C;;
}

 h1 {
    font-family: 'Nunito';
    font-weight: 900;
    color: white;
    font-size: 30pt;
    padding-top: 20px;
    padding-bottom: 50px;
}
h3{
    color: white;
    font-weight: bold;
    font-family: 'Muli';
    font-size: 16pt;
}

.fondo {
    background-color: #00539C;;
}
p{
    color: #fff;
    font-family: 'Muli';
    text-align: justify;
}

.registroText {
    color:#00539C;;
    width:50%;
    margin: 0 auto;
    text-align: center;
}

img.grande{
    width: 200px; height: 200px;
  }